@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body > header {
  width: 100%;
  height: 640px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.header-text {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.header-text > hr {
  background-color: #f4cb08;
  border: 0;
  height: 3px;
  width: 100px;
  margin: 0%;
}
.yellow {
  font-size: 30px;
  color: #f4cb08;
  margin-bottom: 20px;
}
.white {
  font-size: 42px;
  color: #fff;
  margin-bottom: 30px;
}
.white1 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 30px;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.buttons > a:nth-child(1) {
  background-color: #f4cb08;
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 4px;
}
.buttons > a:nth-child(2) {
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid #fff;
  margin-left: 40px;
}
.header-img {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.header-img > img {
  width: 340px;
}
body > section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
section > div {
  width: 40%;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.yellow1 {
  font-size: 20px;
  color: #f4cb08;
  margin-top: 80px;
}
.black {
  font-size: 20px;
  color: #000;
  margin-top: 20px;
  font-size: 34px;
  font-weight: 900;
}
section {
  padding-bottom: 80px;
}
section > div > hr {
  background-color: #f4cb08;
  border: 0;
  height: 4px;
  width: 100px;
  margin-top: 30px;
  margin-left: 0;
}
section i {
  color: #b3b3b3;
  margin-top: 30px;
  font-size: 26px;
  font-weight: 300;
}

.text {
  margin-top: 80px;
  line-height: 25px;
  color: #333;
}

.text1 {
  margin-top: 20px;
  line-height: 25px;
  color: #333;
}
.button {
  margin-top: 20px;
}
.button > a {
  background-color: #f4cb08;
  width: 20px;
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 4px;
}
.images3 {
  display: flex;
  flex-direction: row;
}
.images3 > div {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/images/images3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 312px;
}
.images3 > div:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/images/images4.png");
}
.images3 > div:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/images/images5.png");
}
.images3 > div {
  width: 100%;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 20px;
  padding-right: 20px;
}
.images3 > div > span {
  width: 100%;
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}
.images3 > div > hr {
  margin-left: 0;
  background-color: #f4cb08;
  border: 0;
  height: 3px;
  width: 100px;
}
.images3 > div > p {
  font-size: 15px;
  color: #fff;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.yellow2 {
  font-size: 24px;
  color: #f4cb08;
  margin-top: 70px;
  font-weight: 600;
}
.black2 {
  font-size: 20px;
  color: #000;
  margin-top: 20px;
  font-size: 34px;
  font-weight: 900;
}
.form > hr {
  background-color: #f4cb08;
  border: 0;
  height: 3px;
  width: 70px;
  margin-top: 20px;
}
.form1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.form1 > h1 {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 200px;
  font-size: 20px;
}
.form1 > span {
  margin-top: 90px;
  height: 30px;
}

#head2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #222;
  margin-top: 100px;
}
#head2 > div > h4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
  font-size: 24px;
  color: #f4cb08;
  font-weight: 900;
}

#head2 > div > h1 {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  font-size: 34px;
  font-weight: 900;
}
#head2 > div > hr {
  background-color: #f4cb08;
  border: 0;
  margin-top: 30px;
  height: 3px;
  margin-bottom: 40px;
  width: 90px;
}
.head1 > div > img {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/images/sc2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 212px;
}
.images {
  width: 100%;
  height: 287px;
  display: flex;
  flex-direction: row;
}
.images > img {
  width: 25%;
}
.map {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.image10 {
  width: 40%;
  margin-top: 60px;
}
.metin {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.metin > h4 {
  font-size: 24px;
  color: #f4cb08;
  margin-top: 80px;
  font-weight: 600;
  margin-bottom: 20px;
}
.metin > h1 {
  font-size: 20px;
  color: #000;
  margin-top: 1px;
  font-size: 34px;
  font-weight: 900;
}
.metin > hr {
  background-color: #f4cb08;
  border: 0;
  height: 3px;
  width: 100px;

  margin-left: 0;
}
.metin > p {
  font-size: 18px;
  color: #555;
  margin-bottom: 5px;
  line-height: 20px;
}
.button {
  margin-top: 40px;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 60px 60px 0 60px;
}
.item .icon {
  border: 2px solid #f4cb08;
  font-size: 24px;
  border-radius: 8px;
  color: #333;
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item .info {
  width: 200px;
  margin-left: 15px;
}
.item .info p {
  font-weight: 300;
  color: #333;
  line-height: 20px;
  font-size: 14px;
}
.item .info > h3 {
  margin-top: 0;
}
.bacground {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bacground {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("/images/sc11.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 276px;
  margin-top: 50px;
}
.information {
  width: 100%;
  height: 232px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.information1 {
  width: 267px;
  height: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.information1 > span {
  color: #f4cb08;
  font-weight: 700;
  font-size: 30px;
}
.information1 > p {
  color: #000;
}
.information1 > hr {
  color: #f4cb08;
  border: 1px solid #f4cb08;
  width: 60px;
}
.information2 {
  width: 267px;
  height: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.information2 > span {
  color: #f4cb08;
  font-weight: 700;
  font-size: 30px;
}
.information2 > p {
  color: #000;
}
.information2 > hr {
  color: #f4cb08;
  border: 1px solid #f4cb08;
  width: 60px;
}
.information3 {
  width: 267px;
  height: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.information3 > span {
  color: #f4cb08;
  font-weight: 700;
  font-size: 30px;
}
.information3 > p {
  color: #000;
}
.information3 > hr {
  color: #f4cb08;
  border: 1px solid #f4cb08;
  width: 60px;
}
.information4 {
  width: 267px;
  height: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.information4 > span {
  color: #f4cb08;
  font-weight: 700;
  font-size: 30px;
}
.information4 > p {
  color: #000;
}
.information4 > hr {
  color: #f4cb08;
  border: 1px solid #f4cb08;
  width: 60px;
}
.create {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create > .input {
  width: 775px;
  height: 162px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input {
  margin: 60px auto;
}
.thin {
  color: #f4cb08;
  font-weight: 400;
  font-size: 28px;
  height: 28px;
  width: 735px;
  text-align: center;
}
.thick {
  color: #000;
  font-size: 40px;
  height: 40px;
  width: 735px;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
}
.input > hr {
  background-color: #f4cb08;
  border: 0;
  height: 3px;
  width: 68px;
  margin-top: 30px;
}

.icons {
  width: 100%;
  height: 322px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -15px;
}
.formation > div {
  width: 270px;
  height: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons1 > i {
  border: 10px solid #f4cb08;
  font-size: 48px;
  border-radius: 50px;
  color: #333;
  background-color: #f4cb08;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons1 > h3 {
  font-size: 30px;
  font-weight: 300;
  color: #000;
  text-align: center;
}
.icons1 > p {
  color: #333;
  margin-top: 0;
  text-align: center;
}
.formation2 > div {
  width: 270px;
  height: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons2 > i {
  border: 10px solid #f4cb08;
  font-size: 48px;
  border-radius: 50px;
  color: #333;
  background-color: #f4cb08;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons2 > h3 {
  font-size: 30px;
  font-weight: 300;
  color: #000;
  text-align: center;
}
.icons2 > p {
  color: #333;
  margin-top: 0;
  text-align: center;
}
.formation3 > div {
  width: 270px;
  height: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons3 > i {
  border: 10px solid #f4cb08;
  font-size: 48px;
  border-radius: 50px;
  color: #333;
  background-color: #f4cb08;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons3 > h3 {
  font-size: 30px;
  font-weight: 300;
  color: #000;
  text-align: center;
}
.icons3 > p {
  color: #333;
  margin-top: 0;
  text-align: center;
}
.formation4 > div {
  width: 270px;
  height: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons4 > i {
  border: 10px solid #f4cb08;
  font-size: 48px;
  border-radius: 50px;
  color: #333;
  background-color: #f4cb08;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons4 > h3 {
  font-size: 30px;
  font-weight: 300;
  color: #000;
  text-align: center;
}
.icons4 > p {
  color: #333;
  margin-top: 0;
  text-align: center;
}
.fone {
  width: 100%;
  height: 830px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}
.word {
  width: 781px;
  height: 194px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.yellow2 {
  font-size: 24px;
  color: #f4cb08;
  margin-top: 70px;
  font-weight: 600;
}
.black2 {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  font-size: 34px;
  font-weight: 900;
}
.word > hr {
  background-color: #f4cb08;
  border: 0;
  height: 3px;
  width: 70px;
  margin-top: 20px;
}

.square {
  width: 65%;
  height: 477px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.squaree {
  height: 477px;
}
.square1 {
  width: 309px;
  height: 216px;
  color: #fff;
  border: 2px solid #b3b3b3;
  text-align: center;
}
.square1 > img {
  margin-top: 68px;
}
.mike {
  color: #fff;
  font-size: 27px;
  font-weight: 400;
  margin: 10px;
}
.architect {
  color: #f4cb08;
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
}
.squaree1 {
  height: 477px;
}
.square2 {
  width: 309px;
  height: 216px;
  color: #fff;
  border: 2px solid #b3b3b3;
  text-align: center;
}
.square2 > img {
  margin-top: 68px;
}
.carl {
  color: #fff;
  font-size: 27px;
  font-weight: 400;
  margin: 10px;
}
.builder {
  color: #f4cb08;
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
}
.squaree2 {
  height: 477px;
}
.square3 {
  width: 309px;
  height: 216px;
  color: #fff;
  border: 2px solid #b3b3b3;
  text-align: center;
}
.square3 > img {
  margin-top: 68px;
}
.mark {
  color: #fff;
  font-size: 27px;
  font-weight: 400;
  margin: 10px;
}
.constructor {
  color: #f4cb08;
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
}
.dark {
  background-color: #171717;
  width: 100%;
  height: 327px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dark-common {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 67%;
}
.dark-common > div {
  height: 189px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.blog {
  font-size: 30px;
  color: #f4cb08;
  margin-top: 70px;
  font-weight: 400;
}
.latest {
  font-size: 20px;
  color: #000;
  margin-top: 20px;
  font-size: 34px;
  font-weight: 900;
}
.news > hr {
  background-color: #f4cb08;
  border: 0;
  height: 3px;
  width: 70px;
  margin-top: 20px;
}
